.styled-table {
    border-collapse: collapse;
    margin: 25px 25px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 2rem;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#frame{
    font-family: sans-serif;
      margin-left: 3rem;
      margin-top: 3rem;
}

.text-success{
    margin-right: 3rem;
}

.col-md-5 col-lg-4 order-md-last{
    padding:2rem
}

